<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<name>
		<lang name="default">Все теги</lang>
		<lang name="english">All Tags.</lang>
	</name>
	<author>
		<lang name="default">Em</lang>
	</author>
	<homepage>http://nosite.com/</homepage>
     	<version>1.0</version>
	<requires>
	        <alto>
	            <version>1.0</version>
	        </alto>
	        <system>
	            <php>5.3.0</php>
	        </system>
		
	</requires>
	<description>
		<lang name="default">In separate page all site tags</lang>
		<lang name="russian">Выводит отдельной страницей все теги с сайта</lang>
	</description>

</plugin>
